@import '../../node_modules/nes.css/css/nes.css';
@import "_mixin";

$breakpoints: (
  "sm": "screen and (min-width: 400px)",
  "md": "screen and (min-width: 768px)",
  "lg": "screen and (min-width: 1000px)",
  "xl": "screen and (min-width: 1200px)",
) !default;

html, body, pre, code, kbd, samp {
  font-family: 'Press Start 2P';
}

.typewritter {
  @include mq(sm) {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 2s steps(24);
    -webkit-animation: typing 2s steps(24);
  }
}

@keyframes cursor {
  50% { border-color: transparent }
}

@keyframes typing {
  from { width: 0 }
}