@import '../../node_modules/nes.css/css/nes.css';

// @font-face {
//   font-family: 'Numochi';
//   src: url('~/assets/fonts/numochi.otf') format('opentype');
// }

html, body, pre, code, kbd, samp {
  font-family: 'Press Start 2P';
}

.typewritter {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 2s steps(24);
  -webkit-animation: typing 2s steps(24);
}

@keyframes cursor {
  50% { border-color: transparent }
}

@keyframes typing {
  from { width: 0 }
}